<table>
<%= form_for @product do |f| %>
<tr>
<td><%= f.label :name%></td>
<td><%= f.text_field :name%></td>
</tr>
<tr>
<td><%= f.label :brand_name%></td>
<td><%= f.text_field :brand_name%></td>
</tr>
<tr>
<td><%= f.label :price%></td>
<td><%= f.text_field :price%></td>
</tr>
<tr>
<%= f.fields_for "image" do |ff|%>
<td><%= ff.label :photo, "DP"%></td>
<td><%= ff.file_field :photo, :multiple => true%></td>
<%end%>
</tr>
<tr>
	<td><%= f.submit%></td>	
</tr>
<%end%>